sudo: false
language: python
python: 3.6

cache: pip

before_install: pip install flit
install: flit install --deps production --extras test
script: pytest -m offline

jobs:
  include:
  - python: 2.7
    before_install:
    - sudo apt-get -y install python3-pip python3-setuptools
    - sudo pip3 install flit
    install: flit install --python python --deps production --extras test
  - python: 3.4
  - python: 3.5
  - python: 3.6
  - python: 3.7
    dist: xenial
    sudo: required
  - python: pypy3.5

  - stage: deploy
    name: PyPI
    if: tag IS present
    install: skip
    script: skip
    deploy:
      provider: script
      script: flit publish
      on:
        tags: true
